{{#each posts as |post|}}
<ul class="list-group">
    <a class="list-group-item d-flex flex-row justify-content-between my-2" href="/dashboard/edit/{{post.id}}">
      <span>{{post.title}}</span>
      <span>{{format_date post.date_created}}</span>
    </a>
  
</ul>
{{/each}}