<div class="card input-card mt-4">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form class="card-body" id="login-form">
    <div class="mb-3">
      <label for="username-login" class="form-label">Username</label>
      <input class="form-control" type="text" id="username-login">
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input class="form-control" type="password" id="password-login">
    </div>
    <div class="d-grid gap-2">
      <button class="btn" type="submit" id="login-btn">Login!</button>
      <a type="button" href="/signup">Sign up instead</a>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>
