<div class="card input-card mt-4">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <form class="card-body" id="signup-form">
    <div class="mb-3">
      <label for="username-signup" class="form-label">Username</label>
      <input class="form-control" type="text" id="username-signup">
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password</label>
      <input class="form-control" type="password" id="password-signup">
    </div>
    <div class="d-grid gap-2">
      <button class="btn" type="submit" id="signup-btn">Signup!</button>
      <a type="button" href="/login">Log in instead</a>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>
